html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../images/login_bg.jpg") no-repeat center;
    background-size: cover;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.lgTitle {
    height: 60px;
    background: url("/assets/images/login_title.png") no-repeat center;
}

.regdiv {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-form-item i {
    position: absolute;
    left: 10px;
    top: 10px
}

.layui-input {
    padding-left: 32px;
}